@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

$navigation-background-color: #3b434f;
$component-theme-color: #3b5989;
$component-font: "Times New Roman", Times, serif;

nav{
 background: $component-theme-color;
 font-family: $component-font;
    a{
        font-size: 16px;
    }
}
.search-style{
    width: 100%;
    font-size: 18px;
    font-style: oblique;
    height: 40px; 
    margin: 5px 0 5px;
    border:none;
    -moz-border-radius:5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    border-radius: 5px;
    padding-left: 15px;
}

.navbar-brand{
    color: white;
}


