<div id="container">
  <div id="section-1" class="section">section-1</div>
  <div id="section-2" class="section">section-2</div>
  <div id="section-3" class="section">section-3</div>
  <div id="section-4" class="section">section-4</div>
  <div id="section-5" class="section">section-5</div>
  <div id="section-6" class="section">section-6</div>
</div>
<aside id="navigation">
  <div id="section-1-side" class="section-side">section-1-side</div>
  <div id="section-2-side" class="section-side">section-2-side</div>
  <div id="section-3-side" class="section-side">section-3-side</div>
  <div id="section-4-side" class="section-side">section-4-side</div>
  <div id="section-5-side" class="section-side">section-5-side</div>
  <div id="section-6-side" class="section-side">section-6-side</div>
</aside>