#container{
    float: right;
    width: 75%;
}
#navigation{
    float: left;
    width: 20%;
}
.section{
    height: 200px;
    border: 1px solid black;
}
.section-side{
    border: 1px solid black;
}