$component-theme-color: #3b5989;
$carot-border-transparent: 6px solid transparent;
$carot-border: 6px solid;

#side-panel{
    float: left;
    width: 15%;
    padding-top: 20px;
    border-right: 2px solid $component-theme-color;
    ul{
        list-style: none;
    }
}   
.caret-right {
    border-bottom: $carot-border-transparent;
    border-top: $carot-border-transparent;
    border-left: $carot-border;
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: top;
    width: 0;
    margin-top: 4px;
}
.caret-down {
    border-right: $carot-border-transparent;
    border-top: $carot-border ;
    border-left: $carot-border-transparent;
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: top;
    width: 0;
    margin-top: 5px;
}
.bullet{
    border:solid black;
    -moz-border-radius:100%; /* Firefox */
    -webkit-border-radius: 100%; /* Safari, Chrome */
    border-radius: 100%;
    display: inline-block;
    height: 0;
    opacity: 0.5;
    vertical-align: top;
    width: 0;
    margin-top: 5px;
    
}

